body {
  background-color: #8FBC8F;
  color: #F5FFFA;
  font-family: Arial, Helvetica, sans-serif;
  font-style:
  margin: 10% 20%;
  
}

h4 {
  font-variant: all-small-caps;
  font-weight: 200%;
  font-size: 25px;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
}

ul {
  font-size: 10px
    
}

.image {
  border: 5px solid #dddddd;
  border-color: #F5FFFA;
  width: 100%;
  text-align: center;
  
  
}

.title, .exp-header {
  font-style: oblique;
  
}
